{{ define "main" }}

<section class="site-tutorials-header">
  <div class="container">
    <div class="row justify-content-right">
      <div class="col-lg-12 text-center">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="site-tutorials-content">
  <div class="container">
   
    <div class="row">
      {{ range (.Paginator 4).Pages.ByWeight }}
      <div class="col-lg-6">
        <a href="{{ .Permalink }}" class="card-link" style="text-decoration:none; color:inherit;">
          <article class="site-blog-post">
            <div class="card-body">
              {{ with .Params.image }}
              <div class="site-blog-post-thumb">
                <img src="{{ . | absURL }}" alt="post-thumb">
              </div>
              {{ end }}
              <div class="site-blog-post-content">
                <span>{{ .Params.category }}</span>
                <h3>{{ .Title }}</h3>
                <p>
                  {{ .Summary }} ...
                </p>
                <span class="read-more">read more</span>
              </div>
            </div>
          </article>
        </a>
    </div>
      {{ end }}
      {{ if not (.Paginator 4).HasNext }}
      {{ end }}
      <div class="col-12">
        <div class="site-blog-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
