.site-collab{
  padding: 80px 0 80px;
  background: $secondary-color;
  h2 {
    color: lighten($primary-color, 20%);;
  }

  @include mobile{
    padding: 100px 0 100px;
  }
  &-title{
    font-weight: 700;
    @include tablet{
      font-size: 40px;
    }
    span{
      color: #1A658F;
    }
    @include mobile{
      text-align: center;
    }
  }
  &-list{
    padding: 0;
    margin: 10px 0 0 20px;
    @include mobile{
      text-align: center;
      margin: 0;
    }   
    li{ 
      list-style: none;
      font-size: 30px;
      font-weight: 400;
      color: $text-color-dark;
      text-align: center;
      &:not(:last-child){
        margin-bottom: 10px;
      }   
    }   
  }

}

// desktop table styles
.site-collab .thead-light th {
  background-color: $secondary-color !important;
  color: #A8C700 !important;
}

.site-collab td {
  background-color: $secondary-color; // cell background
  color: $white;            // cell text

} 

// mobile table styles
.site-collab .mobile-collab-table th {
  background-color: $secondary-color; // mobile header background
  color: #A8C700;            // mobile header text
}

.site-collab .mobile-collab-table td {
  background-color: $secondary-color; // cell background
  color: $white;            // cell text
}

.site-collab .mobile-collab-table td:nth-child(1),
.site-collab .mobile-collab-table th:nth-child(1) {
  background-color: $secondary-color; 
  color: #A8C700;            // text color
  font-weight: bold;
}


// border styles
.site-collab th,
.site-collab td {
  border-left: none !important;
  border-right: none !important;
}

.site-collab tr {
  border-left: none !important;
  border-right: none !important;
}

.site-collab table {
  border-left: none !important;
  border-right: none !important;
}